In [1]:
import pandas as pd

In [2]:
file_path = "FE_DONE_V101.csv"
df = pd.read_csv(file_path, low_memory = False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2678356 entries, 0 to 2678355
Data columns (total 46 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   SHIPMENT_ID         object
 2   CUSTOMER            int64
 3   DISTANCE            float64
 4   CASES               int64
 5   WEIGHT              float64
 6   VOLUME              float64
 7   SOURCE_LOCATION_ID  int64
 8   ORIGIN_NAME         int64
 9   ORIGIN_CITY         object
 10  ORIGIN_STATE        object
 11  ORIGIN_ZIP          object
 12  DEST_LOCATION_ID    int64
 13  CONSIGNEE_NAME      int64
 14  DEST_CITY           object
 15  DEST_STATE          object
 16  DEST_ZIP            object
 17  ACTUAL_CARRIER      int64
 18  ACTUAL_MODE         object
 19  ACTUAL_EQUIP        object
 20  LINEHAUL_COSTS      float64
 21  FUEL_COSTS          float64
 22  ACC._COSTS          float64
 23  TOTAL_ACTUAL_COST   float64
 24  Insert_Date         object
 25  PU_APPT_DATETIME    object
 26  DL_APPT_DATETIME    object
 27  DURATION            object
 28  ORIGIN_COUNTRY      object
 29  DEST_COUNTRY        object
 30  PU_WEEKDAY          int64
 31  DL_WEEKDAY          int64
 32  PU_HOUR             int64
 33  DL_HOUR             int64
 34  PU_MINUTE           int64
 35  DL_MINUTE           int64
 36  PU_MONTH            int64
 37  DL_MONTH            int64
 38  PU_YEAR             int64
 39  DL_YEAR             int64
 40  Frequency: Monthly  object
 41  FUEL_PRICE          float64
 42  ORIGIN_LAT          float64
 43  ORIGIN_LONG         float64
 44  DEST_LAT            float64
 45  DEST_LONG           float64
dtypes: float64(12), int64(18), object(16)
memory usage: 940.0+ MB

In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from feature_engine.creation import CyclicalFeatures

In [5]:
cyclical = CyclicalFeatures(variables=None, drop_original=True)

In [6]:
pu_weekday = cyclical.fit_transform(df["PU_WEEKDAY"].to_frame())
dl_weekday = cyclical.fit_transform(df["DL_WEEKDAY"].to_frame())

In [7]:
df = df.join(pu_weekday)
df = df.join(dl_weekday)

In [8]:
df = df.drop(columns = ["PU_WEEKDAY", "DL_WEEKDAY"])

In [10]:
pu_hour = cyclical.fit_transform(df["PU_HOUR"].to_frame())
dl_hour = cyclical.fit_transform(df["DL_HOUR"].to_frame())

In [11]:
df = df.join(pu_hour)
df = df.join(dl_hour)
df = df.drop(columns = ["PU_HOUR", "DL_HOUR"])

In [12]:
pu_minute = cyclical.fit_transform(df["PU_MINUTE"].to_frame())
dl_minute = cyclical.fit_transform(df["DL_MINUTE"].to_frame())

In [13]:
df = df.join(pu_minute)
df = df.join(dl_minute)
df = df.drop(columns = ["PU_MINUTE", "DL_MINUTE"])

In [14]:
pu_month = cyclical.fit_transform(df["PU_MONTH"].to_frame())
dl_month = cyclical.fit_transform(df["DL_MONTH"].to_frame())

In [15]:
df = df.join(pu_month)
df = df.join(dl_month)
df = df.drop(columns = ["PU_MONTH", "DL_MONTH", "Frequency: Monthly"])

In [16]:
df = df.drop(columns = ["DL_MONTH"])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2678356 entries, 0 to 2678355
Data columns (total 53 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   SHIPMENT_ID         object
 2   CUSTOMER            int64
 3   DISTANCE            float64
 4   CASES               int64
 5   WEIGHT              float64
 6   VOLUME              float64
 7   SOURCE_LOCATION_ID  int64
 8   ORIGIN_NAME         int64
 9   ORIGIN_CITY         object
 10  ORIGIN_STATE        object
 11  ORIGIN_ZIP          object
 12  DEST_LOCATION_ID    int64
 13  CONSIGNEE_NAME      int64
 14  DEST_CITY           object
 15  DEST_STATE          object
 16  DEST_ZIP            object
 17  ACTUAL_CARRIER      int64
 18  ACTUAL_MODE         object
 19  ACTUAL_EQUIP        object
 20  LINEHAUL_COSTS      float64
 21  FUEL_COSTS          float64
 22  ACC._COSTS          float64
 23  TOTAL_ACTUAL_COST   float64
 24  Insert_Date         object
 25  PU_APPT_DATETIME    object
 26  DL_APPT_DATETIME    object
 27  DURATION            object
 28  ORIGIN_COUNTRY      object
 29  DEST_COUNTRY        object
 30  PU_YEAR             int64
 31  DL_YEAR             int64
 32  FUEL_PRICE          float64
 33  ORIGIN_LAT          float64
 34  ORIGIN_LONG         float64
 35  DEST_LAT            float64
 36  DEST_LONG           float64
 37  PU_WEEKDAY_sin      float64
 38  PU_WEEKDAY_cos      float64
 39  DL_WEEKDAY_sin      float64
 40  DL_WEEKDAY_cos      float64
 41  PU_HOUR_sin         float64
 42  PU_HOUR_cos         float64
 43  DL_HOUR_sin         float64
 44  DL_HOUR_cos         float64
 45  PU_MINUTE_sin       float64
 46  PU_MINUTE_cos       float64
 47  DL_MINUTE_sin       float64
 48  DL_MINUTE_cos       float64
 49  PU_MONTH_sin        float64
 50  PU_MONTH_cos        float64
 51  DL_MONTH_sin        float64
 52  DL_MONTH_cos        float64
dtypes: float64(28), int64(10), object(15)
memory usage: 1.1+ GB

In [18]:
df["DURATION"] = df.DURATION.apply(lambda x: pd.to_timedelta(x))

In [20]:
df["DURATION_DAY"] = df.DURATION.apply(lambda x: 
                                       x.total_seconds()/60/60/24)

In [21]:
df["DURATION_MINUTE"] = df.DURATION.apply(lambda x: 
                                       x.total_seconds()/60)

In [22]:
df = df.drop(columns = ["DURATION"])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2678356 entries, 0 to 2678355
Data columns (total 54 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   SHIPMENT_ID         object
 2   CUSTOMER            int64
 3   DISTANCE            float64
 4   CASES               int64
 5   WEIGHT              float64
 6   VOLUME              float64
 7   SOURCE_LOCATION_ID  int64
 8   ORIGIN_NAME         int64
 9   ORIGIN_CITY         object
 10  ORIGIN_STATE        object
 11  ORIGIN_ZIP          object
 12  DEST_LOCATION_ID    int64
 13  CONSIGNEE_NAME      int64
 14  DEST_CITY           object
 15  DEST_STATE          object
 16  DEST_ZIP            object
 17  ACTUAL_CARRIER      int64
 18  ACTUAL_MODE         object
 19  ACTUAL_EQUIP        object
 20  LINEHAUL_COSTS      float64
 21  FUEL_COSTS          float64
 22  ACC._COSTS          float64
 23  TOTAL_ACTUAL_COST   float64
 24  Insert_Date         object
 25  PU_APPT_DATETIME    object
 26  DL_APPT_DATETIME    object
 27  ORIGIN_COUNTRY      object
 28  DEST_COUNTRY        object
 29  PU_YEAR             int64
 30  DL_YEAR             int64
 31  FUEL_PRICE          float64
 32  ORIGIN_LAT          float64
 33  ORIGIN_LONG         float64
 34  DEST_LAT            float64
 35  DEST_LONG           float64
 36  PU_WEEKDAY_sin      float64
 37  PU_WEEKDAY_cos      float64
 38  DL_WEEKDAY_sin      float64
 39  DL_WEEKDAY_cos      float64
 40  PU_HOUR_sin         float64
 41  PU_HOUR_cos         float64
 42  DL_HOUR_sin         float64
 43  DL_HOUR_cos         float64
 44  PU_MINUTE_sin       float64
 45  PU_MINUTE_cos       float64
 46  DL_MINUTE_sin       float64
 47  DL_MINUTE_cos       float64
 48  PU_MONTH_sin        float64
 49  PU_MONTH_cos        float64
 50  DL_MONTH_sin        float64
 51  DL_MONTH_cos        float64
 52  DURATION_DAY        float64
 53  DURATION_MINUTE     float64
dtypes: float64(30), int64(10), object(14)
memory usage: 1.1+ GB

In [24]:
# Export CSV
df.to_csv("FE_DONE_V10000.csv")